{% extends '_layout' %}
{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg-new.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{entry.title}}</h1>
              <h2 class="subheading">{{entry.blogIntroduction}}</h2>
              <span class="meta">Posted by
                <a href="#">{{entry.author}}</a>
                on {{entry.postDate | date('M d, Y')}} in
                {% for category in entry.category %}
                <a href="{{category.url}}">{{category}}</a>&nbsp;
               {% endfor %}
                </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
          {{entry.blogBody}}
           </div>
           {% if entry.blogImage.exists %}
           <p>There are related assets</p>
           {% endif %}
          {%set rel = entry.blogImage.one() %}
          <div class="col-lg-8 col-md-10 mx-auto">
          <img src="{{rel.getUrl('crop400by300')}}" alt="">
          </div>
        </div>
      </div>
    </article>

    <hr>

{% endblock %}